<h1 class = "h1">Welcom to Pierr Bakery</h1>
<h3 class = "viewVendors"><a href='/vendors' >View vendors</a></h3>
<h3 class = "viewVendors"><a href='/vendors/new'>Add a new vendor</a></h3>
@{
  Layout = "_Layout";
}
